<p>I graduated from Umass-Amherst with a Bachelors of Science in Computer Engineering.</p>

<p>I've been working on small side-projects during my Internships. Some of these side-projects include Unity games, Python web-servers, and Minecraft mods. You can find some of my projects below or in the portfolio section of my site. Alternatively you can also look at my Github to find the latest projects I'm working on.</p>

<p>Outside of coding, I'm still a big tech nerd. I've been into video games all my life, starting playing games on the Super Nintendo with Super Mario World. And it expanded from there. Tony Hawk Pro Skater, Gran Turismo, Call of Duty, Command and Conquer Generals, World of Warcraft, and many more.</p>

<p>I'm also a big motorsports fan. NASCAR, IndyCar, and F1 are what I found the most fun to watch. I've been to a few NASCAR races, the Daytona 500 in 2010 and 2011, and Homestead-Miami Speedway in 2014 and 2016. I still have yet to go to an IndyCar and F1 race. </p>