.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 30%);
    font-size: 0.9em;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4d4d4+0,999999+100 */
    background: $brand-color; /* Old browsers */
    background: -moz-linear-gradient(top, $border-color 0%, $brand-color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $border-color 0%, $brand-color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $border-color 0%, $brand-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$border-color, endColorstr=$brand-color, GradientType=0 ); /* IE6-9 */

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
            a:hover {
                color: darken($link-color, 15%);
            }
        }

        div {
            display: block;
            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 100%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-bottom: $border-radius/2 solid $border-color;
        }
    }
}
