.background-zoom {

}

.contact-buttons {
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    align-self: center;

    @media (max-width: 600px){
        flex-wrap: nowrap;
        flex-direction: row;
    }

    @media (max-width: 1200px){
        
    }

    h1 {
        padding-right: $padding-small;
        align-self: flex-start;
        white-space: nowrap;

        @media (max-width: 600px){
            padding-right: auto;
            padding-bottom: $padding-medium;
        }
    }

    div {
        align-self: center;
        display:inline-flex;
        flex-direction: row;
        // justify-content: center;
        padding: 0;
        padding-left: $padding-medium;

        @media (max-width: 600px){
            padding: 0;
        }
    }
}

.content {
    .post-content {
        
    }
}

.portfolio-sample {

    display: inline-flex;
    flex-direction: column;

    .portfolio-sample-title {
        border: none;
        padding-top: 0;

        h1 {
            width: 100%;
        }
    }

    div {
        
        display: inline-flex;
        flex-direction: row;

        @media (max-width: 600px){
            flex-direction: column;
        }

        .portfolio-sample-block {
            width: 100%;
            display:flex;
            flex-direction: column;
            padding-left: $padding-small;
            padding-right: $padding-small;            
            padding-bottom: $padding-small;
            color: $text-color;

            @media (max-width: 600px) {
                padding-left: -$padding-x-small;
                padding-right: -$padding-x-small;
            }

            .post-img {
                vertical-align: middle;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    padding: 0;
                    vertical-align: middle;
                }

                @media (min-width: $break) {
                    height: 250px;
                } //Smaller screen
                @media screen and (max-width: $break) {
                    height: 150px;
                }
            }

            .post-img img {
                //max-width: 100%;
    
                -moz-transition-timing-function: ease-out;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
    
                -moz-transition: all 2s;
                -webkit-transition: all 2s;
                transition: all 2s;
    
                &:hover {
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}