.background-zoom {

}

.contact-buttons {
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    align-self: center;

    @media (max-width: 600px){
        flex-wrap: nowrap;
        flex-direction: row;
    }

    h1 {
        padding-right: $padding-small;
        align-self: flex-start;
        white-space: nowrap;

        @media (max-width: 600px){
            padding-right: auto;
            padding-bottom: $padding-medium;
        }
    }

    div {
        align-self: center;
        display:inline-flex;
        flex-direction: row;
        // justify-content: center;
        padding: 0;
        padding-left: $padding-medium;

        @media (max-width: 600px){
            padding: 0;
        }
    }
}

.content {
    .post-content {
        
    }
}

.portfolio-sample {

    display: inline-flex;
    flex-direction: column;

    .portfolio-sample-title {
        border: none;
        padding-top: 0;

        h1 {
            width: 100%;
        }
    }

    div {
        
        display: inline-flex;
        flex-direction: row;

        @media (max-width: 600px){
            flex-direction: column;
        }

        .portfolio-sample-block {
            width: 100%;
            display:flex;
            flex-direction: column;
            padding-left: $padding-small;
            padding-right: $padding-small;            
            padding-bottom: $padding-small;
            color: $text-color;

            @media (max-width: 600px) {
                padding-left: -$padding-x-small;
                padding-right: -$padding-x-small;
            }

            .post-img {
                vertical-align: middle;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    padding: 0;
                    vertical-align: middle;
                }

                @media (min-width: $break) {
                    height: 250px;
                } //Smaller screen
                @media screen and (max-width: $break) {
                    height: 150px;
                }
            }

            .post-img img {
                //max-width: 100%;
    
                -moz-transition-timing-function: ease-out;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
    
                -moz-transition: all 2s;
                -webkit-transition: all 2s;
                transition: all 2s;
    
                &:hover {
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}

.resume {
    
    border-bottom: 1px solid $border-color;
    padding-bottom: 6%;
    float:left;

    .resume_title {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .resume_education {
        .resume_education_title {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;

            h2 {
                margin-bottom: 0;
            }
        }

        div {
            .resume_education_item {
                border: none;
                padding-top: 0;
                padding-bottom: 0;
                display: inline-flex;
                flex-direction: column;

                .resume_education_item_name {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .resume_education_degree_date {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    h4 {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .resume_work {
        .resume_work_title {
            border: none;
            padding-top: 0;
            padding-bottom: 0;

            h2 {
                margin-bottom: 0;
            }
        }

        div {
            .resume_work_item {
                border: none;
                padding-top: 0;
                // padding-bottom: 0;
                display: inline-flex;
                flex-direction: column;

                .resume_work_item_info {
                    display: inline-flex;
                    flex-direction: column;

                    .resume_work_item_company {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .resume_work_item_position_date {
                        display: inline-flex;
                        flex-direction: row;
                        justify-content: space-between;

                        h4 {
                            margin-top: 0;
                        }

                        .resume_work_item_position {
                            text-align: left;
                        }

                        .resume_work_item_date {
                            text-align: right;
                        }
                    }
                }

                .resume_work_item_excerpt {

                }

                .resume_work_item_tags {
                    display: inline-flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    .resume_work_item_tags_tag {
                        padding: 10px;
                        margin: 1px;
                        border-style: solid;
                        border-color: #383838;
                        border-width: 2px;
                        border-radius: 15px;
                        width: 33%;
                        text-align: center;
                        vertical-align: middle;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}