---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" 
  class="call-out background-zoom"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <article>
    <section class = "post-content">
      <h1 id = "aboutme">
        About Me
      </h1>
      <p>
          Hi, I'm Anthony. I'm a student attending the University of Massachusetts Amherst. I'm going for a Bachelors of Science in Computer Systems Engineering with a Minor in Computer Science. I'm currently the Vice-Chair of the <a href = "http://sites.ieee.org/sb-umassa/">IEEE UMass Student Chapter</a> where we create and volunteer events for the undergraduates of the ECE department.
      </p>
      <div class = "contact-buttons">
        <h1>
          Contact Me
        </h1>
        <div>
            {% include icons.html %}
        </div>
      </div>
    </section>
  </article>

<hr />

  <div class="portfolio-sample">
    <article class = "portfolio-sample-title">
      <h1>Here are my most recent projects</h1> 
    </article>
    <div>
      {% for post in site.portfolio limit:3 %}
      <div class="portfolio-sample-block">
          <h3>
            <a class = "post-link" href = "{{ site.baseurl }}{{ post.url }}">
              {{post.title}}
            </a>
          </h3>
          <div class = "post-img">
            <img src = "{{ site.baseurl }}/{{ post.img }}" />
          </div>
          <p>
            {{post.excerpt | truncate:500 }}
          </p>
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme_settings.str_continue_reading }}
          </a>
      </div>
      {% endfor %}
      </div>
    </div>
<hr />

  <div class="posts">
    {% for post in paginator.posts limit:1 %}
    <div class="post-teaser">
      <h1>
        <a class = "post-link" href = "{{ post.url | prepend: site.baseurl }}">
          Read my most recent blog post!
        </a>
      </h1>
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h2>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
            <!--{{ post.content | strip_html | truncate: "250" }}-->
            <br />
            <a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>

<!-- <div class = "contact-buttons">
    <h2>
      Get in Touch
    </h2>
    <div>
      {% include icons.html %}
    </div>
  </div> -->