---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" 
  class="call-out background-zoom"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
    <div class = "contact-buttons">
      {% include icons.html %}
    </div>
  </div>
  {% endif %}

  <article>
    <section class = "post-content">
      <h1 id = "aboutme">
        About Me
      </h1>
      <hr />
      <p>
        I graduated from <a href = "http://www.umass.edu/">Umass-Amherst</a> with a Bachelors of Science in Computer Engineering.
      </p>
      <p>
        I've been working on small side-projects during my Internships. Some of these side-projects include Unity games, Python web-servers, and Minecraft mods. You can find some of my projects below or in the <a href = "{{ site.baseurl }}/portfolio/">portfolio section</a> of my site. Alternatively you can also look at my <a href = "https://github.com/anthonymendez" >Github</a> to find the latest projects I'm working on.
      </p>
      <p>
        Outside of coding, I'm still a big tech nerd.  I've been into video games all my life, starting playing games on the Super Nintendo with Super Mario World. And it expanded from there. Tony Hawk Pro Skater, Gran Turismo, Call of Duty, Command and Conquer Generals, World of Warcraft, and many more. 
      </p>
      <p>
        I'm also a big motorsports fan. NASCAR, IndyCar, and F1 are what I found the most fun to watch. I've been to a few NASCAR races, the Daytona 500 in 2010 and 2011, and Homestead-Miami Speedway in 2014 and 2016. I still have yet to go to an IndyCar and F1 race.
      </p>
      <!-- <div class = "contact-buttons">
        <h1>
          Contact Me
        </h1>
        <div>
            {% include icons.html %}
        </div>
      </div> -->
    </section>
  </article>

  <div class="resume">
    <article class="resume_title">
      <h1 id="resume">Resume</h1>
    </article>

    <div class="resume_education">
      <article class="resume_education_title">
        <h2>Education</h2>
        <hr />
      </article>
      <div>
        {% assign education = site.education | reverse %}
        {% for school in education %}
        <article class="resume_education_item">
          <h3 class="resume_education_item_name">
            {{school.name}}
          </h3>
          <div class="resume_education_degree_date">
            <h4 class="resume_education_degree">
              {{school.degree}}
            </h4>
            <h4 class="resume_education_item_date">
              {{ school.start_date | date:"%B %Y" }} - {{ school.end_date | date:"%B %Y" }}
            </h4>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>

    <div class="resume_work">
      <article class="resume_work_title">
        <h2>Experience</h2>
        <hr />
      </article>
      <div>
        {% assign resume = site.resume | reverse %}
        {% for work in resume %}
        <article class="resume_work_item">
          <div class="resume_work_item_info">
            <h3 class="resume_work_item_company">
              {{ work.company }}
            </h3>
            <div class="resume_work_item_position_date">
              <h4 class="resume_work_item_position">
                {{ work.position }}
              </h4>
              <h4 class="resume_work_item_date">
                {{ work.start_date | date:"%B %Y" }} - {{ work.end_date | date:"%B %Y" }}
              </h5>
            </div>
          </div>
          <div class="resume_work_item_excerpt">
            {{work.excerpt}}
          </div>
          <div class="resume_work_item_tags">
            {% for tag in work.tags %}
              <div class="resume_work_item_tags_tag">
                <p>
                  {{tag}}
                </p>
              </div>
            {% endfor %}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr />

  <div class="portfolio-sample">
    <article class = "portfolio-sample-title">
      <h1><a href="{{site.baseurl}}/portfolio/">Recent Projects</a></h1> 
      <hr />
    </article>
    <div>
      <!-- Temporary fix for a bug in Jekyll -->
      <!-- https://github.com/Shopify/liquid/pull/456 -->
      {% assign portfolio = site.portfolio | reverse %}
      {% for post in portfolio limit:3 %}
      <div class="portfolio-sample-block">
          <h3>
            <a class = "post-link" href = "{{ site.baseurl }}{{ post.url }}">
              {{post.title}}
            </a>
          </h3>
          <div class = "post-img">
            <img src = "{{ site.baseurl }}/{{ post.img }}" />
          </div>
          <p>
            {{post.excerpt | truncate:500 }}
          </p>
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme_settings.str_continue_reading }}
          </a>
      </div>
      {% endfor %}
      </div>
    </div>
<!-- 
  <hr />
  <div class="posts">
    {% for post in paginator.posts limit:1 %}
    <div class="post-teaser">
      <h1>
        <a class = "post-link" href = "{{ post.url | prepend: site.baseurl }}">
          Read my most recent blog post!
        </a>
      </h1>
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h2>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
            <br />
            <a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
   -->
</div>